<div>
    <form [formGroup]="employee" (ngSubmit)="onSubmit()">


        <label for="Id">EmployeeId:</label>
        <input type="number" id="EmployeeId" formControlName="EmployeeId" />

        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" formControlName="FirstName" />

        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" formControlName="LastName" />

        <label for="Position">Desigination:</label>
        <input type="text" id="Desigination" formControlName="Desigination" />

        <label for="Department">Department:</label>
        <input type="text" id="Department" formControlName="Department" />

        <label for="Location">Location:</label>
        <input type="text" id="Location" formControlName="Location" />

        <label for="Skill">Skill:</label>
        <input type="text" id="Skill" formControlName="Skill" />

        <label for="">Salary:</label>
        <input type="number" id="Salary" formControlName="Salary" />

        <label for="profilePicture">Profile Picture:</label>
        <input type="file" id="profilePicture" name="file" (change)="handleFileInput($event)"  accept="image/*" />

        <button type="submit" class="btn btn-success">Submit</button>
        <button type="submit" class="btn btn-success" (click)="goBack()">Employee List</button>
    </form>
</div>