<!-- <div>
    <h2>Employee List</h2>
    <ul>
        <li *ngFor="let employee of employees">
            {{ employee.FirstName}} {{ employee.LastName }}
        </li>
    </ul>
</div> -->

<div>
    <table class="table table-striped" border="2">
        <thead div class="container-fluid" style="background-color:bl">
            <tr>
                <th>EmployeeId</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Position</th>
                <th>Location</th>
                <th>Department</th>
                <th>Skill</th>
                <th>Salary</th>
                <th width="250px">Action</th>
            </tr>
        </thead>
        <tbody>

            <!-- <tr *ngFor="let tasks of task | filter:searchedKeyword |paginate:{itemsPerPage: 10,currentPage:pages}"> -->
            <tr *ngFor="let employee of employees">
                <td>{{ employee.employeeId }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.desigination }}</td>
                <td>{{ employee.location}}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.skill }}</td>
                <td>{{ employee.salary }}</td>


                <td>
                    <button (click)="viewEmployeeDetails(employee.employeeId)">View</button>
                    <button (click)="editEmployee(employee.employeeId)">Edit</button> 
                    <button (click)="deleteEmployee(employee.employeeId)">Delete</button>
                </td>


            </tr>
        </tbody>
    </table>
</div>
<!-- <div *ngIf="selectedEmployee">
    <h2>Employee Details</h2>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>Location</th>
        <th>Department</th>
        <th>City</th>
        <th>Skill</th>
        <th>Salary</th>
      </tr>
      <tr>
        <td>{{ selectedEmployee.firstName }}</td>
        <td>{{ selectedEmployee.lastName }}</td>
        <td>{{ selectedEmployee.position }}</td>
        <td>{{ selectedEmployee.location }}</td>
        <td>{{ selectedEmployee.department }}</td>
        <td>{{ selectedEmployee.city }}</td>
        <td>{{ selectedEmployee.skill }}</td>
        <td>{{ selectedEmployee.salary }}</td>
      </tr>
    </table>
  </div> -->