/* You can add global styles to this file, and also import other style files */
body{

    background-image: url("https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg");

    background-repeat: no-repeat;

    background-size: cover;

 }